.card-container {
  margin: 16px 0px;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  border-radius: 16px;
  background-color: rgb(19, 18, 18);
  box-shadow: 1px 1px 2px 0px rgb(119, 117, 115);
}

.card-container img {
  display: flex;
  height: 250px;
  align-content: flex-start;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: 1px solid rgb(119, 117, 115);
}

.card-title {
  text-align: left;
  font-size: 2rem;
  padding: 16px 0px 8px 16px;
}

.card-container p {
  font-size: 1.3rem;
  color: rgb(119, 117, 115);
  padding: 0px 16px 8px 0px;
  margin-left: 16px;
  border-bottom: 1px solid rgb(119, 117, 115);
}

.card-container h3 {
  font-size: 1.3rem;
  padding: 16px 16px;
}

.card-stack-container {
  display: flex;
  flex-direction: row;
}

.card-stack-item {
  list-style-type: none;
  padding: 8px;
  margin: 0px 0px 0px 16px;
  background: var(--main-bg-color);
  border-radius: 16px;
  color: rgb(19, 18, 18);
  font-weight: bold;
}

.card-links-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 32px;
  margin: 8px;
}

.card-links {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
  border-radius: 16px;
  border: 2px solid rgb(206, 202, 202);
  /* color: rgb(119, 117, 115); */
  background: rgb(19, 18, 18);
  padding: 8px 16px;
}

.card-links:hover {
  background: var(--main-bg-color);
  color: #111;
  border: none;
}
