.card-container {
    margin: 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: aqua;
}

.title-container{
    background: linear-gradient(90deg, #0a9ff5 0%, rgba(255, 1, 160, 1) 100%);
    box-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #0a9ff5;
    color: rgb(17, 0, 13);
    width: 100%;
    text-align: center;
    padding: 24px;
    font-size: 1.2rem;
    border-radius: 16px;
}

.stack-container{
    padding: 0;
    margin: 0;
}