::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--main-bg-color);
  border-radius: 100vw;
}

/* #15b62a  rgb(47, 163, 179) */

:root {
  --main-bg-color: linear-gradient(
    90deg,
    #24881b9f 0%,
    rgba(65, 236, 108, 0.952) 100%
  );
}
/* 
linear-gradient(
    90deg,
    #0a9ff5 0%,
    rgba(255, 1, 160, 1) 100%
  ); */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  background: #111;
  font-family: "Roboto Slab", serif;
  color: #eee;
  line-height: 1.5;
  letter-spacing: 0.125em;
}
