.children-container {
  width: 100%;
  display: flex;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .children-container {
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
  }
}
