.contact-container {
  width: 90%;
  margin: 32px;
  display: grid;
}

.text-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  background: linear-gradient(90deg, #0a9ff5 0%, rgba(255, 1, 160, 1) 100%);
  color: rgb(17, 0, 13);
  font-size: 5rem;
  padding: 8px;
  margin: 20px;
}

.form-container {
  display: flex;
  margin: 10px;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  font-size: 2rem;
}

.message-input {
  width: 100%;
  height: 250px;
  border-radius: 16px;
  padding: 20px;
  font-size: 2rem;
}

.label-text {
  display: block;
  padding: 10px;
  font-size: 2rem;
}

.error-message-form {
  padding: 10px;
  font-size: 1.3rem;
  color: red;
}

.submit-button {
  display: block;
  background: #111;
  color: rgb(220, 236, 235);
  width: 100%;
  margin-top: 20px;
  height: 50px;
  border-radius: 16px;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid white;
}

.submit-button:hover {
  background: linear-gradient(90deg, #0a9ff5 0%, rgba(255, 1, 160, 1) 100%);
  color: rgb(17, 0, 13);
  border: none;
}

@media (min-width: 800px) {
  .contact-container {
    grid-template-columns: 30% 70%;
  }

  .text-contact {
    font-size: 5rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
    width: 150px;
  }
}
