.header-container {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  font-size: 3rem;
}

.logo:hover {
  filter: drop-shadow(0em 0em 2em #fff);
}

.link {
  padding: 15px;
  border-radius: 50%;
  border: 3px solid white;
  font-size: 2rem;
  transition: all 0.3s;
  text-decoration: inherit;
  color: #fff;
}

.link:hover {
  color: black;
  padding: 18px;
  border: none;
  background: var(--main-bg-color);
}

.link:visited {
  text-decoration: inherit;
}

@media (min-width: 800px) {
  .header-container {
    margin-bottom: 100px;
    padding: 50px 0;
  }

  h1 {
    font-size: 4rem;
  }
}
