.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 128px;
  width: 100%;
  padding: 40px;
}

.container-title {
  width: 100%;
  display: flex;
}

.title {
  text-align: center;
  font-size: 3rem;
  width: 100%;
  padding: 32px;
  box-shadow: 2rem 2rem 2rem #001414, 2rem 2rem 2rem #140114;
  background: #0a9ff5;
  background: linear-gradient(90deg, #0a9ff5 0%, rgba(255, 1, 160, 1) 100%);
  color: rgb(17, 1, 13);
  border-radius: 32px;
  animation-duration: 0.01s;
  animation-name: borderloop;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding: 16px 0;
  margin: 16px 0;
}

.subtitle {
  text-align: center;
  font-size: 1.7rem;
  padding: 16px 0;
}

.picture-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture-me {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 2rem 2rem 1rem #cf0da5, 2rem 2rem 2rem #0a9ff5;
  animation-duration: 1s;
  animation-name: borderloop;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.text-container {
  display: block;
  margin: 16px;
}

.text--style {
  text-align: start;
  font-size: 1.2rem;
  font-weight: 100;
  color: white;
}

@media (min-width: 1024px) {
  .text-container {
    margin: 32px;
  }
}
@media (min-width: 500px) {
}
